.h1{
    text-align: center;
    font-size: 2.7rem;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.h1::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 0;
    margin-left: 10%;
    width: 80%;
    border-bottom: 2px solid black;   
}

.container{
    background-color: white;
    margin-bottom: 2rem;
    height: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5%;
    position: relative;
}
.imgContainer{
    width: 150px;
    border-radius: 1rem;
}
.imgContainer>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.textContainer{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textContainer>p{
    font-size: .9rem;
    margin-top: 0;
    /* margin-bottom: .2rem; */
}
.qtyXSum{
    position: absolute;
    bottom: 0;
    right: 1rem;
    /* font-weight: 500; */
    font-size: 1.2rem!important;
}
.delete{
    position: absolute;
    /* margin-left: .5rem; */
    top: 1rem;
    right: 0;
    cursor: pointer;
}

.totalPriceContainer{
    background-color: white;
    height: 5vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}
 .totalPriceContainer>h2{
    
    margin-top: auto;
    
}

.total{
    text-align: right;
}

.placeOrderButton{
    background-color: var(--button-background-color);
    color: var(--background);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 0;
    font-size: .9rem;
    border-radius: 1rem;
    cursor: pointer;
    /* margin-left: calc(100% - 1rem);
    transform: translateX(-50%); */
    /* margin-right: 0; */
 }
 .placeOrderButton:hover{
    background-color: var(--button-hover-bg-color);
 }
 .placeOrderButton:disabled{
    background-color: grey;
    color: var(--background);
 }
.buttonContainer{
    width: 100%;
    text-align: right;
}
