.pageContainer{
    background-color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    position: relative;
}

.messageTime{
    position: absolute;
    bottom: 0.5rem;
    right: .5rem;
    font-size: .8rem;
    color: grey;
    margin-bottom: 0;
}
.senderBubble,.recipientBubble,.inputContainer>input{
    /* max-width: 50vw; */
    width: 50vw;
    height: auto;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

/* .forAligningRecipientBubbleRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
/* .forAligningRecipientBubbleLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.senderBubble{
    margin-left: auto;
    margin-right: 0;
}
.recipientBubble{
    margin-left: 0;
    margin-right: auto;
}

.inputContainer>input{
    border: 0;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    width: 80%;
}
.inputContainer>button{
    width: 20%;
    border: 0;
    /* background-color: var(--button-ncta-hover-bg-color); */
    background-color: white;
    
    color: black;
    font-weight: 500;
    border: 2px solid var(--button-ncta-bg-color);
    cursor: pointer;
    /* border-radius: 50%; */
    transition: background-color 0.1s, color 0.1s;
}
.inputContainer>button:hover{
    /* color:black; */
    color: white;
    background-color: var(--button-ncta-bg-color);
}
.inputContainer>button:active{
    color: white;
    background-color: var(--button-ncta-hover-bg-color);
}
.inputContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1rem;
    height: auto;
}

.topOfMessages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
    box-shadow: .3rem .3rem .3rem var(--background);
    z-index: 1;
    position: relative;
    margin-left: -1rem;
    margin-right:calc(-1rem + .3rem);
    margin-bottom: .9rem;
}
.topOfMessages>div{
    height: 100%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
   
}
.topOfMessages>div>a{
    text-decoration: none;
    color: black;
}
.topOfMessages>div>a:hover{
    color: var(--button-ncta-bg-color);
    
}
.topOfMessages>div>a:active{
    color: var(--button-ncta-hover-bg-color);
    
}
.topOfMessages>h2{
    font-size: 1.5rem;
    font-weight: 500;
}
