.card{
    width: 30%;
    height: 65vh;
    z-index: 5;
    background-color: white;
    margin-bottom: 2.5%;
    border-radius: var(--home-card-border-radius);
    position: relative;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 auto;
    /* z-index: 0; */
}

.cardImg{
    width: 100%;
    height: 100%;
    border-radius: var(--home-card-border-radius);
    
    position: relative;
}



.cardTextsContainer{
    height: auto;
    width: 100%;
    /* pointer-events: none; */
    /* display: none; */
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: var(--home-card-border-radius);
    border-bottom-right-radius: var(--home-card-border-radius);
    background-color: black;
    color: white;
    opacity: 0.9;
    text-align: center;
}
.cardImg>img{
    width: 100%;
    height: 100%;
    border-radius: var(--home-card-border-radius);
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
.cardPrice,.cardQty{
    margin: .5rem;
    font-size: .8rem;
}
.cardHeading{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem;
}
.cardQtyAndCostContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.addToCart{
    width: 90%;
    padding: .7rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    border: 0;
    /* border-radius: var(--home-card-border-radius); */
    border-radius: 1rem;
    margin-bottom: 1rem;
    /* pointer-events: auto;
    z-index: 10; */
}
.addToCart:hover{
    background-color: #350502;
    color: white;
}

@media (max-width:800px) {
    .card{
        display: flex;
        flex-direction: column;
        
        height: 50vh;
        width: 48%;
    }
    .cardImg>img{
        width: 100%;
        height: 100%;
        /* border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; */
        /* object-fit: contain; */
    }
    .cardTextsContainer{
        /* height: 35%; */
        padding: 0;
        opacity: 1;
    }
    .cardQtyAndCostContainer{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }
    .cardHeading,.cardPrice,.cardQty{
        margin: 0;
        color: var(--background);
    }
    .cardHeading{
        margin-bottom: .5rem;
    }
    
}