.cart {
    color: #edeff0;
    font-size: 1.4rem;
    position: relative;
}

.magnifying-glass {
    font-size: .8rem;
    color: gray;
}
.magnifying-glass-clicked{
    color: black;
}

.hamburger-icon {
    color: #16a2b4;
}

.filter-icon{
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: .8rem;
    color: grey;
}

.trash-can{
    /* font-weight: 200; */
    color: var(--button-background-color);
    /* font-size: 2rem; */
}
.trash-can:hover{
    color: var(--button-hover-bg-color);
}

.check-mark{
    color: green;
    font-size: 150px;
    margin-top: 1rem;
    /* margin-top: 25%;
    transform: translateY(-25%); */
    /* margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; */
}