.cart {
    color: #edeff0;
    font-size: 1.4rem;
    position: relative;
}

.magnifying-glass {
    font-size: .8rem;
    color: gray;
}
.magnifying-glass-clicked{
    color: black;
}

.hamburger-icon {
    color: #16a2b4;
}

.filter-icon{
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: .9rem;
    color: grey;
}

/* .back-arrow{
    font-weight: 200;
} */